.cardsBox {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-rows: 340px;
  gap: 50px;
  background-color: #F6F6F6;
  border-radius: 25px;
  margin-top: 20px;
  padding: 50px;
}

@media screen and (max-width: 767px) {
  .cardsBox {
    grid-template-columns: 1fr;
    gap: 20px;
    background-color: unset;
    border-radius: unset;
    padding: 0;
  }
}