
.collapse {
  position: relative;
  width: auto;
  /*padding: 5px;*/
  flex: 1 1 0;
}
.title {
  display: flex;
  justify-content: space-between;
  position: relative;
  padding: 10px;
  background-color: #FF6060;
  border-radius: 10px;
  color: white;
  cursor: pointer;
}

.desc {
  margin-top: -5px;
  padding: 30px 20px;
  background-color: #F6F6F6;
  border-radius: 10px;
}

.collapseAnimation {
  height: 0;
  overflow: hidden;
  transition: height ease 0.3s;
}

.animatedArrow {
  margin-right: 10px;
  transform: rotate(0deg);
  transition: transform 0.3s linear;
}

.animatedArrowClicked {
  margin-right: 10px;
  transform: rotate(180deg) translateY(4px);
  transition: transform 0.3s linear;
}
