.Header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.logoDesktop {
  display: block;
}

.logoMobile {
  display: none;
}

.navMenu {
  display: flex;
  max-width: 250px;
  width: 30%;
  gap: 20px;
}

.navItem {
  text-align: end;
  display: inline-block;
  width: 50%;
}
.active {
  text-decoration: underline;
}

@media screen and (max-width: 767px) {
  .logoDesktop {
    display: none;
  }

  .logoMobile {
    display: block;
  }

  .navMenu {
    max-width: 200px;
    width: 50%;
  }

  .navItem {
    text-transform: uppercase;
    font-size: 12px;
  }

}